<div class="jumbotron">
 <div class="container">
  <h1>Que queri que te diga!</h1>
  <p>...</p>
  <p><a class=" btn btn-success " href="#" role="button"> apretame <span class="glyphicon glyphicon-heart-empty"  style="color:orange"></span></a></p>
  </div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-4">
    <div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
      <a href="www.google.cl" target="_bank">google</a>
      <p class="titulos">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas tempora recusandae dolorum minima porro et quo molestiae enim necessitatibus, voluptatibus, officia odit quasi vero quisquam laboriosam dignissimos! Repudiandae, alias.
      </p>
    </div>
    <div class="col-md-4">
    <div class="page-header">
  <h1 style="display:inline">Example page </h1>
  <span class="label label-default">New</span>
</div>
      <a href="www.google.cl" target="_bank">google</a>
      <p class="titulos">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas tempora recusandae dolorum minima porro et quo molestiae enim necessitatibus, voluptatibus, officia odit quasi vero quisquam laboriosam dignissimos! Repudiandae, alias.
      </p>
      <img src="http://www.wikinoticia.com/images2//monkeyzen.hipertextual.netdna-cdn.com/files/2012/11/GIF-dinosaurios.gif" style="width:500px" style="align:center">
    </div>
     <div class="col-md-4">
     <div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
      <a href="www.google.cl" target="_bank">google</a>
      <p class="titulos">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptas tempora recusandae dolorum minima porro et quo molestiae enim necessitatibus, voluptatibus, officia odit quasi vero quisquam laboriosam dignissimos! Repudiandae, alias.
      </p>
    </div>
</div>
</div>
